#if($beanId_cap.lastIndexOf("Service") != -1)
#set($obj = $beanId_cap.substring(0,$beanId_cap.lastIndexOf("Service")))
#else
#set($obj = $beanId_cap)
#end
##set($domain_cap = "$obj.substring(2)")
##set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#foreach( $item in $primaryKey.split(":") )
	#set($ret = $pk_cap.add("$item.substring(0,1).toUpperCase()$item.substring(1).toLowerCase()"))
	#set($ret = $pk_uncap.add($item))
#end
##===================================
#if(${daoPackage_package} != "")
package ${daoPackage_package};
#end

import ${daoPackage_package}.common.CommonDao;
import ${domainPackage_package}.${domain_cap};

/**
 * 프로그램 파일명 : ${daoClass}.java
 * 
 * 프로그램 설명 : $tableName 테이블의 데이터를 핸들링하는 DAO 인터페이스입니다.
 * 
 * 작 성 자 : ${writerName}
 * 
 * 작 성 일 : ${writeDate}
 * 
 * Copyright(c) 2013 DAEYOON Co. Ltd. All rights reserved.
 */
public interface ${daoClass} extends CommonDao<${domain_cap}> {

}
