#set($bind_char = "#")
#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($primaryKeys = $model.primaryKeys)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#set($columns = $model.fields)
#set($pk_column = $listTool.get($primaryKeys,0))
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">

<sqlMap namespace="${domain_cap}">

	<typeAlias alias="${domain_uncap}" type="${domainPackage_package}.${domain_cap}" />
	
	<resultMap id="${domain_uncap}-defaultResult" class="${domain_uncap}">
#foreach($column in $columns)
#if ($column.type=="INT" || $column.type=="DOUBLE" || $column.type=="FLOAT" || $column.type=="NUMBER" || $column.type=="int" || $column.type=="double" || $column.type=="float" || $column.type=="number")
		<result property="$column.fieldName" column="$column.name" nullValue="0" />
#else
		<result property="$column.fieldName" column="$column.name" nullValue="" />
#end
#end
	</resultMap>
	
	<select id="getNextKey" resultClass="int" parameterClass="${domain_uncap}">
		SELECT IFNULL(MAX(${pk_column.name}),0)+1 FROM $tableName
		#if($primaryKeys.size() > 0)WHERE #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name=${bind_char}$primaryKey.fieldName${bind_char}#if( $i < $primaryKeys.size() ) AND #end#set($i = $i + 1)#end#end

	</select>
	
	<sql id="SELECT_FRAGMENT">
		<dynamic prepend="WHERE">
#foreach($column in $columns)
#if ($column.type=="INT" || $column.type=="DOUBLE" || $column.type=="FLOAT" || $column.type=="NUMBER" || $column.type=="int" || $column.type=="double" || $column.type=="float" || $column.type=="number")
			<isGreaterThan prepend="AND" property="$column.fieldName" compareValue="0">
				$column.name = ${bind_char}$column.fieldName${bind_char}
			</isGreaterThan>
#else
			<isNotEmpty prepend="AND" property="$column.fieldName">
				$column.name = ${bind_char}$column.fieldName${bind_char}
			</isNotEmpty>
#end
#end
			<!-- 
			<isNotEmpty property="sc">
				<isNotEmpty property="sw">
					<isEqual prepend="AND" property="sc" compareValue="subject">
						subject LIKE concat('%', #sw#, '%')
					</isEqual>
					<isEqual prepend="AND" property="sc" compareValue="content">
						content LIKE concat('%', #sw#, '%')
					</isEqual>
				</isNotEmpty>
			</isNotEmpty>
			 -->
		</dynamic>
	</sql>
	
	<select id="getCount" resultClass="int" parameterClass="${domain_uncap}">
		SELECT COUNT(*) FROM $tableName
		<include refid="SELECT_FRAGMENT"/>
	</select>
	
	<select id="getPagedList" resultMap="${domain_uncap}-defaultResult" parameterClass="${domain_uncap}">
		SELECT
			#set($i = 1)#foreach($column in $columns)$column.name#if( $i < $columns.size() ), #end#if( $i%5 == 0 )
		
			#end#set($i = $i + 1)#end 

		FROM $tableName
		<include refid="SELECT_FRAGMENT"/>
		#if($primaryKeys.size() > 0)ORDER BY #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name DESC#if( $i < $primaryKeys.size() ) , #end#set($i = $i + 1)#end#end

		LIMIT ${bind_char}start${bind_char}, ${bind_char}end${bind_char}
	</select>
	
	<select id="getList"  resultMap="${domain_uncap}-defaultResult" parameterClass="${domain_uncap}">
		SELECT
			#set($i = 1)#foreach($column in $columns)$column.name#if( $i < $columns.size() ), #end#if( $i%5 == 0 )
		
			#end#set($i = $i + 1)#end 

		FROM $tableName
		<include refid="SELECT_FRAGMENT"/>
		#if($primaryKeys.size() > 0)ORDER BY #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name DESC#if( $i < $primaryKeys.size() ) , #end#set($i = $i + 1)#end#end

	</select>
	
	<select id="getInfo"  resultMap="${domain_uncap}-defaultResult" parameterClass="${domain_uncap}">
		SELECT
			#set($i = 1)#foreach($column in $columns)$column.name#if( $i < $columns.size() ), #end#if( $i%5 == 0 )
			
			#end#set($i = $i + 1)#end 
		
		FROM $tableName
		#if($primaryKeys.size() > 0)WHERE #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name=${bind_char}$primaryKey.fieldName${bind_char}#if( $i < $primaryKeys.size() ) AND #end#set($i = $i + 1)#end#end

	</select>
	
	<insert id="insertInfo" parameterClass="${domain_uncap}">
		<selectKey resultClass="int" keyProperty="${pk_uncap}">
			SELECT IFNULL(MAX(${pk_column.name}),0)+1 as ${pk_uncap} FROM $tableName
			#if($primaryKeys.size() > 0)WHERE #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name=${bind_char}$primaryKey.fieldName${bind_char}#if( $i < $primaryKeys.size() ) AND #end#set($i = $i + 1)#end#end
	
		</selectKey>
		INSERT INTO $tableName ( #set($i = 1)#foreach($column in $columns)$column.name#if( $i < $columns.size() ), #end#set($i = $i + 1)#end )
		VALUES ( #set($i = 1)#foreach($column in $columns)${bind_char}$column.fieldName${bind_char}#if( $i < $columns.size() ), #end#set($i = $i + 1)#end  )
	</insert>
	
	<update id="updateInfo" parameterClass="${domain_uncap}">
		UPDATE $tableName 
		<dynamic prepend="SET">
#foreach($column in $columns)
#if ($column.type=="INT" || $column.type=="DOUBLE" || $column.type=="FLOAT" || $column.type=="NUMBER" || $column.type=="int" || $column.type=="double" || $column.type=="float" || $column.type=="number")
			<isGreaterThan prepend="," property="$column.fieldName" removeFirstPrepend="true" compareValue="0">
				$column.name = ${bind_char}$column.fieldName${bind_char}
			</isGreaterThan>
#else
			<isNotEmpty prepend="," property="$column.fieldName" removeFirstPrepend="true">
				$column.name = ${bind_char}$column.fieldName${bind_char}
			</isNotEmpty>
#end
#end
		</dynamic>
		#if($primaryKeys.size() > 0)WHERE #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name = ${bind_char}$primaryKey.fieldName${bind_char}#if( $i < $primaryKeys.size() ) AND #end#set($i = $i + 1)#end#end
	
	</update>
	
	<delete id="deleteInfo" parameterClass="${domain_uncap}">
		DELETE FROM $tableName 
		#if($primaryKeys.size() > 0)WHERE #set($i = 1)#foreach($primaryKey in $primaryKeys)$primaryKey.name = ${bind_char}$primaryKey.fieldName${bind_char}#if( $i < $primaryKeys.size() ) AND #end#set($i = $i + 1)#end#end
		
	</delete>

</sqlMap>
