#set ($d = "$")
#set($tableName = $model.name)
#set($columns = $model.fields)
#set($primaryKeys = $model.primaryKeys)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#set($pk_column = $listTool.get($primaryKeys,0))
#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
##===================================
#set($columns = $model.fields)
#set ($nonPkColumns = [])
#foreach($column in $columns)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime" && $column.name != "created_user_id" && $column.name != "modified_user_id")
#set($isPk = false)
#foreach($pk in $pks)
#if ($column.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == false)
#set ($swallow = $nonPkColumns.add($column))
#end
#end
#end
##===================================
<template>
  <v-card class="pb-1">
    <base-form-title :model-name="${d}tc('${domain_uncap}.modelName')" :is-create="isCreate" />
    <base-form-progress-bar :loading="${d}store.state.loading" />
    <validation-observer ref="observer">
      <v-form @submit.prevent="submit">
        <v-card-text>
#set($numeric = "numeric")
#set($max = "max")
#foreach($column in $nonPkColumns)
#set($ruleCount = 0)
          <validation-provider v-slot="{ errors, classes }" :name="${d}tc('${domain_uncap}.${column.fieldName}')" rules="#if ($column.nullable == false)required#set($ruleCount = $ruleCount+1)#end#if ($column.type=="INT" || $column.type=="BIGINT" || $column.type=="DOUBLE" || $column.type=="FLOAT" || $column.type=="NUMBER" || $column.type=="int" || $column.type=="bigint" || $column.type=="double" || $column.type=="float" || $column.type=="number")#if ($ruleCount>0)|#end#set($ruleCount = $ruleCount+1)$numeric#end#if ($ruleCount>0)|#end#set($ruleCount = $ruleCount+1)$max:$column.size">
            <c-text-field v-model="form.${column.fieldName}" :counter="${column.size}" :label="${d}tc('${domain_uncap}.${column.fieldName}')" :error-messages="errors" :class="classes">
              <template #prepend>
                <div class="input-prepend">{{ ${d}tc('${domain_uncap}.${column.fieldName}') }}</div>
              </template>
            </c-text-field>
          </validation-provider>
#end
        </v-card-text>
      </v-form>
      <base-form-edit-buttons :is-create="isCreate" @on-submit="submit" @on-go-list="${d}goList('/${moduleKebabName}', ${d}route.query)" />
    </validation-observer>
  </v-card>
</template>

<script lang="ts">
import { ${domain_cap} } from '${moduleKebabName}';
import { PropType } from 'vue';
import { assign, cloneDeep } from 'lodash-es';

const defaultForm = {
  id: null,
#foreach($column in $nonPkColumns)
#if ($column.type=="INT" || $column.type=="BIGINT" || $column.type=="DOUBLE" || $column.type=="FLOAT" || $column.type=="NUMBER" || $column.type=="int" || $column.type=="bigint" || $column.type=="double" || $column.type=="float" || $column.type=="number")
  ${column.fieldName}: 0,
#elseif ($column.javaType=="boolean")
  ${column.fieldName}: false,
#else
  ${column.fieldName}: '',
#end
#end
} as ${domain_cap};

export default {
  name: '${domain_cap}Form',
  props: {
    isCreate: {
      type: Boolean,
      default: true,
    },
    formData: {
      type: Object as PropType<${domain_cap}>,
      default: () => {},
    },
  },
  data() {
    return {
      form: cloneDeep(defaultForm),
    };
  },
  mounted() {
    this.setForm();
  },
  methods: {
    setForm() {
      this.form = assign(this.form, this.formData);
    },
    async submit() {
      const valid = await this.${d}refs.observer.validate();
      if (valid) {
        const result = await this.${d}confirm(this.${d}t('areYouWantSave'));
        if (result) {
          this.${d}emit('on-submit', this.form);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
