#set($domain_cap = "$domainClass")
#set($postfixCutIndex =  $domain_cap.length() - 2)
#set($postfix = "$domain_cap.substring($postfixCutIndex,$domain_cap.length())")
#if($postfix.equals("Vo"))
#set($domainName = "$domain_cap.substring(0,$postfixCutIndex)")
#else
#set($domainName = "$domain_cap")
#end
#set($domainName_uncap = "$domainName.substring(0,1).toLowerCase()$domainName.substring(1)")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($tbName = $model.name)
#set($tbName_cap = $model.javaName)
#set($tbName_uncap = $model.fieldName)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#set($cols = $model.fields)
#set($formClass_cap = "${model.javaName}Form")
#set($formClass_uncap = "${model.fieldName}Form")
#set($formName = "frm")
<%@ page contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<%@ include file="../../common/taglib.jsp" %>
<html>
<head>
<title><spring:message code="${domainName_uncap}.modelName" /> <c:choose><c:when test="${ editMode eq 'insert' }"><spring:message code="button.create" /></c:when><c:otherwise><spring:message code="button.update" /></c:otherwise></c:choose></title>
<script type="text/javascript">
<!--
$(document).ready(function(){
<c:if test="${ editMode eq 'update' }">
	$(".deleteButton").bind("click", function () {
		var deleteUrl = $(this).attr("href");
		jQuery.showConfirm("<spring:message code="common.delete.msg" />", {
			yesCallback: function() {
				$("#progressBarDiv").show();
				window.location = deleteUrl;
			},
			noCallback: function() {
				return;
			}
		});
		return false;
	});
</c:if>
});
//-->
</script>
</head>
<body>

<h4><spring:message code="${domainName_uncap}.modelName" /> <c:choose><c:when test="${ editMode eq 'insert' }"><spring:message code="button.create" /></c:when><c:otherwise><spring:message code="button.update" /></c:otherwise></c:choose></h4>

<form:form id="editForm" name="editForm" method="post" commandName="${domainName_uncap}" action="${pageContext.request.contextPath}${requestPath}/${ editMode }.do">
	<input type="hidden" id="searchCondition" name="searchCondition" value="<c:out value="${ criteria.searchCondition }" />" />
	<input type="hidden" id="searchKeyword" name="searchKeyword" value="<c:out value="${ criteria.searchKeyword }" />" />
	<input type="hidden" id="pageIndex" name="pageIndex" value="<c:out value="${ criteria.pageIndex }" />" />
	<input type="hidden" id="menuNo" name="menuNo" value="<c:out value="${ criteria.menuNo }" />" />
#foreach($pk in $pks)
	<form:hidden path="$pk.fieldName"/>
#end
	<fieldset>
		<legend>
			<spring:message code="${domainName_uncap}.modelName" /> <c:choose><c:when test="${ editMode eq 'insert' }"><spring:message code="button.create" /></c:when><c:otherwise><spring:message code="button.update" /></c:otherwise></c:choose>
		</legend>

			<table class="boardWriteTb">
			<colgroup>
				<col style="width:20%;" />
				<col style="width:80%;" />
			</colgroup>
#foreach($col in $cols)
#set($isPk = "false")
#foreach($pk in $pks)
#if ($col.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == true)
			<!--
			<tr>
				<th class="blt_ess"><spring:message code="${domainName_uncap}.${col.fieldName}" /></th>
				<td>
					<form:input path="${col.fieldName}" cssClass="inputLeft" cssStyle="width:200px;" maxlength="${col.size}" titleMessageKey="${domainName_uncap}.${col.fieldName}" />
					<div class="validatorError"><form:errors path="${col.fieldName}" /></div>
				</td>
			</tr>
			-->
#else
#if ($col.nullable == false)
			<tr>
				<th class="blt_ess"><spring:message code="${domainName_uncap}.${col.fieldName}" /></th>
				<td>
#if ($col.fieldName=="useYn")
					<div class="jUseRadio">
						<form:radiobutton id="useYnY" path="useYn" value="Y"  /><label for="useYnY"><spring:message code="common.yes" /></label>&nbsp;
						<form:radiobutton id="useYnN" path="useYn" value="N" /><label for="useYnN"><spring:message code="common.no" /></label>
					</div>
#elseif($col.fieldName.toLowerCase().indexOf("useyn") != -1)
					<div class="jUseRadio">
						<form:radiobutton id="${col.fieldName}Y" path="${col.fieldName}" value="Y"  /><label for="${col.fieldName}Y"><spring:message code="common.yes" /></label>&nbsp;
						<form:radiobutton id="${col.fieldName}N" path="${col.fieldName}" value="N" /><label for="${col.fieldName}N"><spring:message code="common.no" /></label>
					</div>
#else
					<form:input path="${col.fieldName}" cssClass="inputLeft" cssStyle="width:200px;" maxlength="${col.size}" titleMessageKey="${domainName_uncap}.${col.fieldName}" />
#end
					<div class="validatorError"><form:errors path="${col.fieldName}" /></div>
				</td>
			</tr>
#else
			<tr>
				<th class="blt_ness"><spring:message code="${domainName_uncap}.${col.fieldName}" /></th>
				<td>
#if ($col.fieldName=="useYn")
					<form:radiobutton id="useYnY" path="useYn" value="Y"  /><label for="useYnY"><spring:message code="common.yes" /></label>&nbsp;
					<form:radiobutton id="useYnN" path="useYn" value="N" /><label for="useYnN"><spring:message code="common.no" /></label>
#elseif($col.fieldName.toLowerCase().indexOf("useyn") != -1)
					<form:radiobutton id="${col.fieldName}Y" path="${col.fieldName}" value="Y"  /><label for="${col.fieldName}Y"><spring:message code="common.yes" /></label>&nbsp;
					<form:radiobutton id="${col.fieldName}N" path="${col.fieldName}" value="N" /><label for="${col.fieldName}N"><spring:message code="common.no" /></label>
#else
#if ($col.type == "DATE")
					<form:input path="${col.fieldName}" cssClass="inputLeft datepicker" cssStyle="width:200px;" maxlength="10" />
#else
					<form:input path="${col.fieldName}" cssClass="inputLeft" cssStyle="width:200px;" maxlength="${col.size}" titleMessageKey="${domainName_uncap}.${col.fieldName}" />
#end
#end
					<div class="validatorError"><form:errors path="${col.fieldName}" /></div>
				</td>
			</tr>
#end
#end
#end
		</table>
		<div class="boardNavigation">
			<div class="buttonRight">
				<button type="submit" class="jButton"><span class="ui-icon-disk"><spring:message code="button.save" /></span></button>
			<c:if test="${ editMode eq 'update' }">
				<a href="<c:out value="${pageContext.request.contextPath}" />${requestPath}/<spring:url value="delete.do?${ criteria.params }&#foreach($pk in $pks)${pk.fieldName}=${ ${domainName_uncap}.${pk.fieldName} }#if($velocityCount<$pks.size())&#end#end" htmlEscape="true" javaScriptEscape="true" />" class="jButton deleteButton"><span class="ui-icon-trash"><spring:message code="button.delete" /></span></a>
			</c:if>
				<a href="<c:out value="${pageContext.request.contextPath}" />${requestPath}/<spring:url value="list.do?${ criteria.params }" htmlEscape="true" javaScriptEscape="true" />" class="jButton"><span class="ui-icon-cancel"><spring:message code="button.reset" /></span></a>
			</div>
		</div>
	</fieldset>
</form:form>

</body>
</html>
