#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($service_cap = "$serviceClass")
#set($service_uncap = "$service_cap.substring(0,1).toLowerCase()$service_cap.substring(1)")
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#foreach( $item in $primaryKey.split(":") )
	#set($ret = $pk_cap.add("$item.substring(0,1).toUpperCase()$item.substring(1).toLowerCase()"))
	#set($ret = $pk_uncap.add($item))
#end
##===================================
#if(${controllerPackage_package} != "")
package ${controllerPackage_package};
#end

import java.util.List;
import javax.validation.Valid;
import javax.annotation.Resource;

import org.apache.commons.lang.StringUtils;
import org.apache.log4j.Logger;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.servlet.ModelAndView;

import com.daeyoon.cms.aop.LoginCheck;
import com.daeyoon.cms.aop.MenuLoad;
import com.daeyoon.cms.aop.UserAuthCheck;
import com.daeyoon.cms.common.global.GlobalVariable;
import com.daeyoon.cms.controller.common.RedirectUrlMaker;
import com.daeyoon.cms.controller.common.UserSession;
import com.daeyoon.cms.domain.User;
import com.daeyoon.cms.domain.Site;
import com.daeyoon.cms.dao.common.Criteria;
import ${domainPackage_package}.${domain_cap};
import ${servicePackage_package}.${serviceClass};

/**
 * 프로그램 파일명 : ${controllerClass}.java
 * 
 * 프로그램 설명 : $tableName 테이블과 관련된 업무 요청을 받아 처리하는 Controller 클래스입니다.
 * 
 * 작 성 자 : ${writerName}
 * 
 * 작 성 일 : ${writeDate}
 * 
 * Copyright(c) 2013 DAEYOON Co. Ltd. All rights reserved.
 */
@Controller
public class ${controllerClass} {

	private static Logger logger = Logger.getLogger(${controllerClass}.class);

	@Resource
	private ${service_cap} ${service_uncap};

	/**
	 * 리스트화면
	 * 
	 * @param model
	 * @param cri
	 * @param ${domain_uncap}
	 * @return
	 * @throws Exception
	 */
	@RequestMapping({ "/{currentContextPath}${requestPath}/list.do", "${requestPath}/list.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String list(Model model, Criteria cri, ${domain_cap} ${domain_uncap}) throws Exception {
		List<${domain_cap}> list = ${service_uncap}.pagedList(cri);

		model.addAttribute("list", list);
		model.addAttribute("cri", cri);
		model.addAttribute("${domain_uncap}", ${domain_uncap});

		return "${requestPath}/list";
	}

	/**
	 * 상세조회화면
	 * 
	 * @param model
	 * @param cri
	 * @param site
	 * @return
	 * @throws Exception
	 */
	@RequestMapping(value = { "/{currentContextPath}${requestPath}/read.do", "${requestPath}/read.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String read(Model model, Criteria cri, ${domain_cap} ${domain_uncap}) throws Exception {

		${domain_uncap} = ${service_uncap}.read(${domain_uncap});

		model.addAttribute("${domain_uncap}", ${domain_uncap});
		model.addAttribute("cri", cri);
		return "${requestPath}/read";
	}
	
	/**
	 * 생성/수정 폼에서 필요로하는 객체 초기화
	 * @param model
	 * @throws Exception
	 */
	private void initFormValues(Model model) throws Exception {
		
	}

	/**
	 * 생성화면
	 * 
	 * @param model
	 * @param cri
	 * @param ${domain_uncap}
	 * @return
	 * @throws Exception
	 */
	@RequestMapping(value = { "/{currentContextPath}${requestPath}/createForm.do", "${requestPath}/createForm.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String createForm(Model model, Criteria cri, ${domain_cap} ${domain_uncap}) throws Exception {

		initFormValues(model);

		model.addAttribute("editMode", "create");
		model.addAttribute("${domain_uncap}", ${domain_uncap});
		model.addAttribute("cri", cri);
		return "${requestPath}/form";
	}

	/**
	 * 수정화면
	 * 
	 * @param model
	 * @param cri
	 * @param ${domain_uncap}
	 * @return
	 * @throws Exception
	 */
	@RequestMapping(value = { "/{currentContextPath}${requestPath}/updateForm.do", "${requestPath}/updateForm.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String updateForm(Model model, Criteria cri, ${domain_cap} ${domain_uncap}) throws Exception {

		initFormValues(model);

		${domain_uncap} = ${service_uncap}.read(${domain_uncap});

		model.addAttribute("editMode", "update");
		model.addAttribute("${domain_uncap}", ${domain_uncap});
		model.addAttribute("cri", cri);
		return "${requestPath}/form";
	}

	/**
	 * 생성
	 * 
	 * @param model
	 * @param currentSite
	 * @param ${domain_uncap}
	 * @param result
	 * @param cri
	 * @return
	 * @throws Exception
	 */
	@RequestMapping({ "/{currentContextPath}${requestPath}/create.do", "${requestPath}/create.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String create(Model model, Site currentSite, @Valid ${domain_cap} ${domain_uncap}, BindingResult result, Criteria cri, User userSession) throws Exception {

		if (result.hasErrors()) {
			initFormValues(model);
			model.addAttribute("editMode", "create");
			model.addAttribute("cri", cri);
			return "${requestPath}/form";
		}

		${service_uncap}.create(${domain_uncap});

		return new RedirectUrlMaker(currentSite.getContextPath(), "${requestPath}/list.do", cri, true).getRedirectUrl();
	}

	/**
	 * 수정
	 * 
	 * @param model
	 * @param currentSite
	 * @param ${domain_uncap}
	 * @param result
	 * @param cri
	 * @return
	 * @throws Exception
	 */
	@RequestMapping({ "/{currentContextPath}${requestPath}/update.do", "${requestPath}/update.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String update(Model model, Site currentSite, @Valid ${domain_cap} ${domain_uncap}, BindingResult result, Criteria cri, User userSession) throws Exception {

		if (result.hasErrors()) {
			initFormValues(model);
			model.addAttribute("editMode", "update");
			model.addAttribute("cri", cri);
			return "${requestPath}/form";
		}

		${service_uncap}.update(${domain_uncap});

		return new RedirectUrlMaker(currentSite.getContextPath(), "${requestPath}/list.do", cri).getRedirectUrl();
	}

	/**
	 * 삭제
	 * 
	 * @param currentSite
	 * @param cri
	 * @param ${domain_uncap}
	 * @return
	 * @throws Exception
	 */
	@RequestMapping({ "/{currentContextPath}${requestPath}/delete.do", "${requestPath}/delete.do" })
	@MenuLoad
	@LoginCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.LOGIN_PATH)
	@UserAuthCheck(sessionKey = UserSession.USER_SESSION_KEY, viewName = GlobalVariable.PERMISSION_DENIED_PATH)
	public String delete(Site currentSite, Criteria cri, ${domain_cap} ${domain_uncap}) throws Exception {

		${service_uncap}.delete(${domain_uncap});

		return new RedirectUrlMaker(currentSite.getContextPath(), "${requestPath}/list.do", cri).getRedirectUrl();
	}

}
