#if($beanId_cap.lastIndexOf("Service") != -1)
#set($obj = $beanId_cap.substring(0,$beanId_cap.lastIndexOf("Service")))
#else
#set($obj = $beanId_cap)
#end
##set($domain_cap = "$obj.substring(2)")
##set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
#set($columns = $model.fields)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#foreach( $item in $primaryKey.split(":") )
	#set($ret = $pk_cap.add("$item.substring(0,1).toUpperCase()$item.substring(1).toLowerCase()"))
	#set($ret = $pk_uncap.add($item))
#end

#if(${daoPackage_package} != "")
package ${daoPackage_package};
#end

import java.io.Serializable;
import java.util.List;

import org.hibernate.criterion.DetachedCriteria;
import org.springframework.dao.DataAccessException;
import ${domainPackage_package}.${domain_cap};

/**
 * File Name    : ${daoClass}.java
 * Author       :#if($author) $author #else admin #end

 * Created on ${date}
 *
 * Copyright(c) 2010 NMSC Co., Ltd. All rights reserved.
 */

public interface ${daoClass} {

	public int getCount(DetachedCriteria criteria) throws DataAccessException;

	public List<${domain_cap}> getList(DetachedCriteria criteria) throws DataAccessException;

	public List<${domain_cap}> getPagedList(DetachedCriteria criteria, int firstResult, int maxResults) throws DataAccessException;

#if ($pk.javaType == "java.lang.Double")
	public ${domain_cap} getInfoBySeq(Integer ${pk.name}) throws DataAccessException;
#else
	public ${domain_cap} getInfoBySeq($pk.javaType ${pk.name}) throws DataAccessException;
#end	

	public Serializable insert(${domain_cap} ${domain_uncap}) throws DataAccessException;

	public boolean update(${domain_cap} ${domain_uncap}) throws DataAccessException;

#if ($pk.javaType == "java.lang.Double")
	public boolean delete(Integer ${pk.name}) throws DataAccessException;
#else
	public boolean delete($pk.javaType ${pk.name}) throws DataAccessException;
#end	
	
}
