#set($tableName = $model.name)
#set($columns = $model.fields)
#set($primaryKeys = $model.primaryKeys)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#set($pk_column = $listTool.get($primaryKeys,0))
#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#if ($domainPackage_package != "")
package $domainPackage_package;
#end
#set($timeCount = 0)
#set($dateCount = 0)
#set($datetimeCount = 0)
#foreach($column in $columns)
#if ($column.type == "TIME")
#set($timeCount = $timeCount+1)
#elseif ($column.type == "DATE")
#set($dateCount = $dateCount+1)
#elseif ($column.type == "DATETIME" || $column.type == "TIMESTAMP")
#set($datetimeCount = $datetimeCount+1)
#end
#end
##===================================
#set($varcharCount = 0)
#foreach($column in $columns)
#if ($column.javaType == "java.lang.String")
#set($varcharCount = $varcharCount+1)
#end
#end
##===================================
#set($notEmptyCount = 0)
#set($notNullCount = 0)
#foreach($column in $columns)
#if ($column.nullable == false)
#if ($column.type=="INT" || $column.type=="BIGINT" || $column.type=="DOUBLE" || $column.type=="FLOAT" || $column.type=="NUMBER" || $column.type=="int" || $column.type=="bigint" || $column.type=="double" || $column.type=="float" || $column.type=="number" || $column.type == "DATE" || $column.type == "DATETIME")
#set($notNullCount = $notNullCount+1)
#else
#set($notEmptyCount = $notEmptyCount+1)
#end
#end
#end

import lombok.*;
import lombok.experimental.SuperBuilder;
import ${basePackage}.common.domain.BaseEntity;
import javax.persistence.*;
#if ($timeCount > 0)
import java.time.LocalTime;
#end
#if ($dateCount > 0)
import java.time.LocalDate;
#end
#if ($datetimeCount > 0)
import java.time.LocalDateTime;
#end

@Entity
@Getter
@NoArgsConstructor(access = AccessLevel.PROTECTED)
@AllArgsConstructor
@EqualsAndHashCode(onlyExplicitlyIncluded = true)
@SuperBuilder
public class $domain_cap extends BaseEntity {

#foreach($column in $columns)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime")
#set($isPk = false)
#foreach($pk in $pks)
#if ($column.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == true)
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    @EqualsAndHashCode.Include
#end
#if ($column.nullable == true)
    @Column(name = "$column.name")
#elseif ($column.nullable == false)
    @Column(name = "$column.name", nullable = false)
#end
#if ($column.javaType == "java.lang.String")
    private String $column.fieldName;
#elseif ($column.javaType == "java.lang.Integer")
    private Integer $column.fieldName;
#elseif ($column.javaType == "java.lang.Long")
    private Long $column.fieldName;
#elseif ($column.javaType == "java.lang.Double")
    private Double $column.fieldName;
#elseif ($column.javaType == "java.lang.Float")
    private Float $column.fieldName;
#elseif ($column.type == "TIME")
    private LocalTime $column.fieldName;
#elseif ($column.type == "DATE")
    private LocalDate $column.fieldName;
#elseif ($column.type == "DATETIME" || $column.type == "TIMESTAMP")
    private LocalDateTime $column.fieldName;
#elseif ($column.javaType == "boolean")
    private Boolean $column.fieldName;
#else
    private String $column.fieldName;
#end

#end
#end

    public void update($domain_cap $domain_uncap) {
#foreach($column in $columns)
#set($isPk = false)
#foreach($pk in $pks)
#if ($column.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == false)
        this.${column.fieldName} = ${domain_uncap}.${column.fieldName};
#end
#end
    }

}