#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($repositoryFile_uncap = "$repositoryFile.substring(0,1).toLowerCase()$repositoryFile.substring(1)")
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#foreach( $item in $primaryKey.split(":") )
#set($ret = $pk_cap.add("$item.substring(0,1).toUpperCase()$item.substring(1).toLowerCase()"))
#set($ret = $pk_uncap.add($item))
#end
##===================================
#set($columns = $model.fields)
#set ($nonPkColumns = [])
#foreach($column in $columns)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime" && $column.name != "created_user_id" && $column.name != "modified_user_id")
#set($isPk = false)
#foreach($pk in $pks)
#if ($column.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == false)
#set ($swallow = $nonPkColumns.add($column))
#end
#end
#end
##===================================
#set($timeCount = 0)
#set($dateCount = 0)
#set($datetimeCount = 0)
#foreach($column in $columns)
#if ($column.type == "TIME")
#set($timeCount = $timeCount+1)
#elseif ($column.type == "DATE")
#set($dateCount = $dateCount+1)
#elseif ($column.type == "DATETIME" || $column.type == "TIMESTAMP")
#set($datetimeCount = $datetimeCount+1)
#end
#end
##===================================
#if(${dtoPackage_package} != "")
package ${dtoPackage_package};
#end

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import me.huneea.springbootcms.common.domain.BaseSearchCondition;

#if ($timeCount > 0)
import java.time.LocalTime;
#end
#if ($dateCount > 0)
import java.time.LocalDate;
#end
#if ($datetimeCount > 0)
import java.time.LocalDateTime;
#end

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
public class ${searchDtoFile} extends BaseSearchCondition {

#foreach($column in $columns)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime" && $column.name != "created_user_id" && $column.name != "modified_user_id")
#if ($column.javaType == "java.lang.String")
    private String $column.fieldName;
#elseif ($column.javaType == "java.lang.Boolean" || $column.javaType == "boolean")
    private Boolean $column.fieldName;
#elseif ($column.javaType == "java.lang.Integer")
    private Integer $column.fieldName;
#elseif ($column.javaType == "java.lang.Long")
    private Long $column.fieldName;
#elseif ($column.javaType == "java.lang.Double")
    private Double $column.fieldName;
#elseif ($column.javaType == "java.lang.Float")
    private Float $column.fieldName;
#elseif ($column.type == "DATE" || $column.type == "DATETIME")
    private LocalDateTime $column.fieldName;
#else
    private String $column.fieldName;
#end
#end
#end

}
