#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($repositoryFile_uncap = "$repositoryFile.substring(0,1).toLowerCase()$repositoryFile.substring(1)")
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#foreach( $item in $primaryKey.split(":") )
#set($ret = $pk_cap.add("$item.substring(0,1).toUpperCase()$item.substring(1).toLowerCase()"))
#set($ret = $pk_uncap.add($item))
#end
##===================================
#set($columns = $model.fields)
#set ($nonPkColumns = [])
#foreach($column in $columns)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime")
#set($isPk = false)
#foreach($pk in $pks)
#if ($column.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == false)
#set ($swallow = $nonPkColumns.add($column))
#end
#end
#end
##===================================
#if(${dtoPackage_package} != "")
package ${dtoPackage_package};
#end

import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import ${domainPackage_package}.${domainClass};

@Data
@AllArgsConstructor
@NoArgsConstructor
public class ${updateDtoFile} {

#foreach($column in $columns)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime")
#set($isPk = false)
#foreach($pk in $pks)
#if ($column.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == false)
#if ($column.javaType == "java.lang.String")
#if ($column.nullable == false)
    @NotEmpty
#end
    private String $column.fieldName;
#elseif ($column.javaType == "java.lang.Boolean")
#if ($column.nullable == false)
    @NotNull
#end
    private Boolean $column.fieldName;
#elseif ($column.javaType == "java.lang.Integer")
#if ($column.nullable == false)
    @NotNull
#end
    private Integer $column.fieldName;
#elseif ($column.javaType == "java.lang.Long")
#if ($column.nullable == false)
    @NotNull
#end
    private Long $column.fieldName;
#elseif ($column.javaType == "java.lang.Double")
#if ($column.nullable == false)
    @NotNull
#end
    private Double $column.fieldName;
#elseif ($column.javaType == "java.lang.Float")
#if ($column.nullable == false)
    @NotNull
#end
    private Float $column.fieldName;
#elseif ($column.type == "DATE" || $column.type == "DATETIME")
#if ($column.nullable == false)
    @NotNull
#end
    private LocalDateTime $column.fieldName;
#elseif ($column.javaType == "boolean")
#if ($column.nullable == false)
    @NotNull
#end
    private Boolean $column.fieldName;
#else
#if ($column.nullable == false)
    @NotNull
#end
    private String $column.fieldName;
#end
#end
#end
#end

    public ${domainClass} to${domainClass}() {
        return ${domainClass}.builder()
#foreach($column in $nonPkColumns)
            .${column.fieldName}(${column.fieldName})
#end
            .build();
    }

    public ${domainClass} to${domainClass}(#set($i = 1)#foreach($column in $pks)#if($column.javaType == "java.lang.String")String #else
Long #end$column.fieldName#if( $i < $pks.size() ), #end#set($i = $i + 1)#end) {
        return ${domainClass}.builder()
#foreach($column in $pks)
#if ($column.name != "created_datetime" && $column.name != "modified_datetime")
            .${column.fieldName}(${column.fieldName})
#end
#end
#foreach($column in $nonPkColumns)
            .${column.fieldName}(${column.fieldName})
#end
            .build();
    }
}
