#set($domain_cap = "$domainClass")
#set($postfixCutIndex =  $domain_cap.length() - 2)
#set($postfix = "$domain_cap.substring($postfixCutIndex,$domain_cap.length())")
#if($postfix.equals("VO"))
#set($domainName = "$domain_cap.substring(0,$postfixCutIndex)")
#else
#set($domainName = "$domain_cap")
#end
#set($domainName_uncap = "$domainName.substring(0,1).toLowerCase()$domainName.substring(1)")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($tbName = $model.name)
#set($tbName_cap = $model.javaName)
#set($tbName_uncap = $model.fieldName)
#set($pks = $model.primaryKeys)
#set($pk_column = $listTool.get($pks,0))
#set($columns = $model.fields)
#set($cols = $model.fields)
#set($lineWidth = $cols.size()+$cols.size())
#set($colspan = $cols.size()+1)
#set($formName = "frm")
<%@ page contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="ui" uri="http://egovframework.gov/ctl/ui"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${domainName_uncap} 목록 - eGovFrame Portal 온라인 지원 포털   </title>
<!-- header_css -->
<c:import url="/WEB-INF/jsp/egovframework/EgovCss.jsp" />
<!--
<c:import url="/WEB-INF/jsp/egovframework/EgovCss_New.jsp" />
-->
<script type="text/javaScript" language="javascript">
//<![CDATA[
//상세
function fnView(#if($pks.size() > 0)#set($i = 1)#foreach($primaryKey in $pks)$primaryKey.fieldName#if( $i < $pks.size() ), #end#set($i = $i + 1)#end#end) {
#foreach($pk in $pks)
	document.searchForm.${pk.fieldName}.value = ${pk.fieldName};
#end
	document.searchForm.action = "${pageContext.request.contextPath}${requestPath}/${domainName_uncap}View.do";
	document.searchForm.submit();
}
//등록폼
function fnCreate() {
	document.searchForm.action = "${pageContext.request.contextPath}${requestPath}/${domainName_uncap}CreateForm.do";
	document.searchForm.submit();
}
//검색
function fnSearch() {
	document.searchForm.pageIndex.value = "1";
	document.searchForm.action = "${pageContext.request.contextPath}${requestPath}/${domainName_uncap}List.do";
	document.searchForm.submit();
}
//페이지이동
function fnPage(pageNo) {
	document.pageForm.pageIndex.value = pageNo;
	document.pageForm.action = "${pageContext.request.contextPath}${requestPath}/${domainName_uncap}List.do";
	document.pageForm.submit();
}
//]]>
</script>
</head>
<body>

<div id="sub_wrapper">
	<div id="inc_header">
		<!-- header -->
		<c:import url="/WEB-INF/jsp/egovframework/headerAdmin.jsp" />
	</div>
	<!-- 메인탑 컨텐츠 시작 -->
	<div id="inc_body">
		<div id="left_body">
			<!-- left -->
			<c:import url="/WEB-INF/jsp/egovframework/admin_left_menu.jsp" />
		</div>
		<div id="center_body">

			<form:form id="searchForm" name="searchForm" method="post" commandName="search${domain_cap}" action="${pageContext.request.contextPath}${requestPath}/${domainName_uncap}List.do">
				<form:hidden path="adminMenu" />
				<form:hidden path="pageIndex" />
#foreach($pk in $pks)
				<form:hidden path="${pk.fieldName}" />
#end

				<fieldset>
					<legend>${domainName_uncap} 검색</legend>

					<div class="board_title01" style="padding-top: 5px;">
						<span class="black_title_text">${domainName_uncap} 목록</span>
					</div>
					<div class="search_box01">
						<ul style="padding-top: 20px;">
							<li style="float: left; margin-left: 20px; padding-top: 2px;"><img src="/images/egovframework/adt/img_search.gif" alt="Search" width="41" height="15" /></li>
							<li style="float: left; margin-left: 5px;">

								<form:select path="searchCondition">
#foreach($column in $columns)#set($isPk = "false")#foreach($pk in $pks)#if ($column.fieldName==$pk.fieldName)#set($isPk = "true")#end#end#if ($isPk=="false")
									<form:option value="$column.fieldName">$column.fieldName</form:option>
#end#end
								</form:select>
								<form:input path="searchKeyword" cssClass="ser_box" maxlength="35" /> <a href="javascript:fnSearch();" class="button">검색</a>
							</li>
						</ul>
					</div>

				</fieldset>
			</form:form>


			<div class="egovframe_tablestyle">
				<table summary="" cellpadding="" cellspacing="0">
					<colgroup>
						<col style="width:5%;" />
#foreach($col in $cols)
						<col style="" />
#end
					</colgroup>
					<thead>
						<tr>
							<th scope="col">순번</th>
#foreach($col in $cols)
							<th scope="col">${col.fieldName}</th>
#end
						</tr>
					</thead>
					<tbody>

					<c:forEach var="item" items="${ ${domainName_uncap}List }" varStatus="status">
						<tr>
							<td><fmt:formatNumber value="${ paginationInfo.totalRecordCount-((paginationInfo.currentPageNo-1)*search${domain_cap}.pageUnit)-(status.index) }" type="number"/></td>
#foreach($col in $cols)
#set($isPk = "false")
#foreach($pk in $pks)
#if ($col.fieldName==$pk.fieldName)
#set($isPk = true)
#end
#end
#if ($isPk == true)
							<td><a href="javascript:fnView(#if($pks.size() > 0)#set($i = 1)#foreach($primaryKey in $pks)'<c:out value="${ item.${primaryKey.fieldName} }" />'#if( $i < $pks.size() ), #end#set($i = $i + 1)#end#end)"><c:out value="${ item.${col.fieldName} }" /></a></td>
#else
#if ($col.type == "DATE")
							<td><fmt:formatDate value="${ item.${col.fieldName} }" pattern="yyyy-MM-dd" /></td>
#elseif ($col.type == "NUMBER")
							<td><fmt:formatNumber value="${ item.${col.fieldName} }" type="number"/></td>
#else
							<td><c:out value="${ item.${col.fieldName} }" /></td>
#end
#end
#end
						</tr>
					</c:forEach>
					<c:if test="${ empty ${domainName_uncap}List }">
						<tr>
							<td colspan="${colspan}">등록된 데이터가 없습니다.</td>
						</tr>
					</c:if>
					</tbody>
				</table>
				</div>
				<div>
					<span class="right_board_list" style="display: block; text-align: center">
						<div class="pagination">
							<ui:pagination paginationInfo="${paginationInfo}" type="customImage" jsFunction="fnPage" />
						</div>
					</span>
				</div>
				<div align="right">
					<div class="btn_area">
						<a href="javascript:fnCreate();" class="button">등록</a>
					</div>
				</div>

			</form>
		</div>
	</div>
	<div id="inc_footer">
		<!-- footer -->
		<c:import url="/WEB-INF/jsp/egovframework/footer.jsp" />
	</div>
</div>

<form:form commandName="search${domain_cap}" name="pageForm" method="post">
	<input type="hidden" name="pageIndex" value="${ search${domain_cap}.pageIndex }" />
	<input type="hidden" name="searchCondition" value="${ search${domain_cap}.searchCondition }" />
	<input type="hidden" name="searchKeyword" value="${ search${domain_cap}.searchKeyword }" />
	<input type="hidden" name="adminMenu" value="${ search${domain_cap}.adminMenu }" />
</form:form>

</body>
</html>
