#set($domain_cap = "$domainClass")
#set($postfixCutIndex =  $domain_cap.length() - 2)
#set($postfix = "$domain_cap.substring($postfixCutIndex,$domain_cap.length())")
#if($postfix.equals("VO"))
#set($domainName = "$domain_cap.substring(0,$postfixCutIndex)")
#else
#set($domainName = "$domain_cap")
#end
#set($domainName_uncap = "$domainName.substring(0,1).toLowerCase()$domainName.substring(1)")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($serviceClass_uncap = "$serviceClass.substring(0,1).toLowerCase()$serviceClass.substring(1)")
#set($tableName = $model.name)
#set($queryName = $tableName.replaceAll("_",""))
#set($queryName = "$queryName.substring(0,1).toUpperCase()$queryName.substring(1).toLowerCase()")
#set($primaryKeys = $model.primaryKeys)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#foreach( $item in $primaryKey.split(":") )
	#set($ret = $pk_cap.add("$item.substring(0,1).toUpperCase()$item.substring(1).toLowerCase()"))
	#set($ret = $pk_uncap.add($item))
#end
##===================================
#if(${servicePackage_package} != "")
package ${servicePackage_package};
#end

import java.util.List;

/**
 * 프로그램 설명 :
 *
 * @author ${companyName} ${writerName}
 * @version 1.0
 * @since ${writeDate}
 * @see none
 *
 * <pre>
 * << 개정이력(Modification Information) >>
 *
 *     수정일        수정자           수정내용
 *  -------------    --------    ---------------------------
 *   ${writeDate}     ${writerName}          최초 생성
 * </pre>
 */
public interface ${serviceClass} {
#if($primaryKeys.size() == 1)

	public int select${domainName}NextId() throws Exception;
#elseif($primaryKeys.size() > 1)

	public int select${domainName}NextId(${domain_cap} ${domain_uncap}) throws Exception;
#end
#if($primaryKeys.size() > 0)

	public ${domainClass} select${domainName}(#if($pks.size() > 0)#set($i = 1)#foreach($primaryKey in $pks)#if ($primaryKey.type=="INT" || $primaryKey.type=="DOUBLE" || $primaryKey.type=="FLOAT" || $primaryKey.type=="NUMBER" || $primaryKey.type=="int" || $primaryKey.type=="double" || $primaryKey.type=="float" || $primaryKey.type=="number")Integer $primaryKey.fieldName#else$primaryKey.javaType.replaceAll("java.lang.", "") $primaryKey.fieldName#end#if( $i < $pks.size() ), #end#set($i = $i + 1)#end#end) throws Exception;
#end

	public ${domain_cap} select${domainName}(${domain_cap} ${domain_uncap}) throws Exception;

	public List<${domain_cap}> select${domainName}AllList(${domain_cap} ${domain_uncap}) throws Exception;

	public List<${domain_cap}> select${domainName}List(${domain_cap} ${domain_uncap}) throws Exception;

	public int select${domainName}TotCnt(${domain_cap} ${domain_uncap}) throws Exception;

	public void insert${domainName}(${domain_cap} ${domain_uncap}) throws Exception;

	public int update${domainName}(${domain_cap} ${domain_uncap}) throws Exception;
#if($primaryKeys.size() > 0)

	public Integer delete${domainName}(#if($pks.size() > 0)#set($i = 1)#foreach($primaryKey in $pks)#if ($primaryKey.type=="INT" || $primaryKey.type=="DOUBLE" || $primaryKey.type=="FLOAT" || $primaryKey.type=="NUMBER" || $primaryKey.type=="int" || $primaryKey.type=="double" || $primaryKey.type=="float" || $primaryKey.type=="number")Integer $primaryKey.fieldName#else$primaryKey.javaType.replaceAll("java.lang.", "") $primaryKey.fieldName#end#if( $i < $pks.size() ), #end#set($i = $i + 1)#end#end) throws Exception;
#end

	public int delete${domainName}(${domain_cap} ${domain_uncap}) throws Exception;
}
