#set($domain_cap = "$domainClass")
#set($domain_uncap = "$domain_cap.substring(0,1).toLowerCase()$domain_cap.substring(1)")
#set($tbName = $model.name)
#set($tbName_cap = $model.javaName)
#set($tbName_uncap = $model.fieldName)
#set($pks = $model.primaryKeys)
#set($pk = $listTool.get($pks, 0))
#set($pk_cap = $pk.javaName)
#set($pk_uncap = $pk.fieldName)
#set($cols = $model.fields)
#========================================
# $tbName.toUpperCase()
#========================================
${domain_uncap}.pageTitle=${domain_cap} control
${domain_uncap}.num=order
#foreach($col in $cols)
${domain_uncap}.${col.fieldName}=${col.fieldName}
#end
${domain_uncap}.control=control